__pycache__/
*.py[cod]
.venv/
cp1/
cp2/
cp3/build/
cp3/dist/
cp3/display_mapping.json
cp3/native/display_mapping.h
*.exe
*.dll
*.obj
*.exp
*.lib
*.ttf
*.otf
*.delta
*.arc
*.wag
*.iso
*.log
*.dmp
.env
.env.*
Save/
.nega0-korean/
